hr {
  border: none;
  height: 1px;
  color: #2d3436;
  background-color: #2d3436;
}

.card {
  width: 20em;
  background-color: #feca57;
}

.card_title {
  cursor: pointer;
  color: #74b9ff;
  font-size: 1.04em;
}

.trash {
  cursor: pointer;
  color: #ff6b6b;
}